# fly.toml app configuration file generated for ai-tickets-web on 2026-02-13T12:56:36-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ai-tickets-web'
primary_region = 'dfw'

[build]
  [build.args]
    NEXT_PUBLIC_API_URL = "https://ai-tickets.fly.dev"

[env]
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
